*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: 100 ;

}

body{
    background-image: url("/peakpx.jpg");
    padding: 0;
    margin: 0;
    background-image: center;
}

.container{
  height: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc{
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 100px);

}

input{
  grid-column: span 4;
  height: 100px;
  width: 397px;
  box-shadow: inset -4px -4px 10px #fff,
              inset 4px 4px 10px rgba(0,0,0,.40);
  border-radius: 10px;
  border: none;
  /* text-align: end; */
  margin: 30px 0px 15px 0px;
  padding: 10px;
  font-size: 45px;
}

button{
  box-shadow: 4px 4px 10px rgba(0,0,0,.40);
  border-radius: 10px;
  border: none;
  margin: 2px;
  width: 97px;
  height: 80px;
  opacity: .77;
  font-size: 30px;
}

button:hover{
  color: #75510b;
  border: 2px solid #75510b;
}

.del:hover{
  color: #75510b;
  background-color: whitesmoke;
  border: 2px solid #75510b;
}
.equal:hover{
  color: #75510b;
  background-color: whitesmoke;
  border: 2px solid #75510b;
}
.clearall:hover{
  color: #75510b;
  background-color: whitesmoke;
  border: 2px solid #75510b;
}

.equal{
  color: whitesmoke;
  background-color: #e09d16;
  box-shadow: 4px 4px 10px rgba(0,0,0,.40);
  border-radius: 10px;
  border: none;
  margin: 2px;
  width: 197px;
  height: 80px;
}

.clearall{
  color: whitesmoke;
  background-color: #e09d16;
  box-shadow: 4px 4px 10px rgba(0,0,0,.40);
  border-radius: 10px;
  border: none;
  margin: 2px;
  width: 197px;
  height: 80px;
  grid-column: span 2;
}

.del{
  color: whitesmoke;
  background-color: #e09d16;
}

@media only screen and (max-width: 721px) {
  .container{
     margin-top: 15%;
     margin-left: 20%;
     margin-right: 20%;
    }

    .calc{
      margin-right: 14%;
    }
  }

@media only screen and (max-width: 301px) {

    .calc{
      margin-right: 3%;
      padding: 16px;
      display: grid;
      grid-template-columns: repeat(4, 50px);
    
    }

    input{
      grid-column: span 4;
      height: 70px;
      width: 200px;
      box-shadow: inset -4px -4px 10px #fff,
                  inset 4px 4px 10px rgba(0,0,0,.40);
      border-radius: 10px;
      border: none;
      margin: 30px 0px 15px 0px;
      padding: 10px;
      font-size: 25px;
    }

    button{
      box-shadow: 4px 4px 10px rgba(0,0,0,.40);
      border-radius: 10px;
      border: none;
      margin: 2px;
      width: 45px;
      height: 40px;
      opacity: .77;
      font-size: 18px;
    }

    .equal{
      color: whitesmoke;
      background-color: #e09d16;
      box-shadow: 
                   4px 4px 10px rgba(0,0,0,.40);
      border-radius: 10px;
      border: none;
      margin: 2px;
      width: 93px;
      height: 40px;
    }
    
    .clearall{
      color: whitesmoke;
      background-color: #e09d16;
      box-shadow: 
                   4px 4px 10px rgba(0,0,0,.40);
      border-radius: 10px;
      border: none;
      margin: 2px;
      width: 93px;
      height: 40px;
      grid-column: span 2;
    }  
  }

  .del{
    color: whitesmoke;
    background-color: #e09d16;
  }